@using FIAP_TDD.Data.Models;
@model IEnumerable<AlunoModel>

<div class="container">
    <h2>Alunos</h2>
    <a asp-action="Criar" class="btn btn-primary">Criar Aluno</a>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Usuario</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>@item.Nome</td>
                <td>@item.Usuario</td>
                <td>

                    <div class="btn-group">
                        <button type="button" data-bs-toggle="dropdown" class="btn btn-danger">Acões</button>
                        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="Editar" asp-route-id="@item.Id">Editar</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item" onclick="DeletarAluno(@item.Id)">Deletar</button></li>
                        </ul>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function DeletarAluno(id){
            var data = {id:id}
            $.ajax({
                method:"POST",
                url:"/Aluno/Deletar",
                data:data,
                success:(retorno)=>{
                    if (retorno == true) {
                        alert("Aluno deletado com sucesso")
                        location.reload()
                    }
                    else {
                        console.log(retorno)
                        alert("Erro ao deletar o Aluno")
                    }
                }
            });
        }
    </script>
}